/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
}

.container {
    width: 100%;
    margin: 0 auto;
}



/* Utilities */

h2 {
    font-size: 35px;
    font-weight: 600;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}



.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.mr-25 {
    margin-right: 25px;
}

.ml-25 {
    margin-left: 25px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-150 {
    margin-top: 150px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mx-5 {
    margin-left: 5%;
    margin-right: 5%;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-50 {
    padding-top: 50px;
}

.pr-25 {
    padding-right: 25px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pr-50 {
    padding-right: 50px;
}

.pt-25 {
    padding-top: 25px;
}

.pl-25 {
    padding-left: 25px;
}

.px-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.px-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.w25 {
    width: 25%;
}

.blue-button {
    padding: 5px 10px 5px 10px;
    background-color: #0061FF;
    color: white;
    border: none;
    cursor: pointer;
    
}

.cardw-30 {
    width: 30%
}

.cardwx-5 {
    margin: 0 5%;
}

.cardtag-style {
    text-align: center;
    border-bottom: 1px solid #D0D0D3;
    
}

.card-styling {
    height: 900px;
    border: 1px solid #D0D0D3;
    float: left;
}

.ul-style {
    list-style: none;
    
}

.li-py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.cardprice-fw {
    font-weight: 600;
}
.cardmonthly-style {
    color: #637381;
    font-weight: 600;
    font-size: 12px;
}
.txt-underlined {
    text-decoration: underline;
}
.logo-filter {
    filter: invert(100%);
}
.partner-wh100 {
    width: 100%;
    height: 100%;
    float: left;
}

.logo-w {
    width: 100%;
    vertical-align: middle;
    padding: 25px;
}

.h-lh-box {
    height: 150px;
    line-height: 150px;
}
.color-white {
    color: white;
}






/* Debug Box */

.debug-box {
    height: 50px;
    background-color: transparent;
    border: 1px solid black;
}

/* Header */

.header-container {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: white;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header-1 {
    width: 50%;
    float: left;
}

.header-1 .logo {
    float: left;
    
}

.header-1 .logo img {
    vertical-align: middle;
}

.header-1 nav ul li {
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
    
}
/* Header Menu Item Hover */

.header-1 nav ul li:hover {
    border-bottom: 2px solid black;
}

.header-2 nav ul li:hover {
    border-bottom: 2px solid black;
}

.header-2 {
    width: 50%;
    float: right;
}

.header-2 nav ul li {
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
    
}

/* Hero */

.hero-container {
    width: 100%;
    background-color: #B4D0E7;
    padding-top: 60px;
    
}

.hero-content {
    width: 70%;
    margin: auto;

}

.hero-title {
    font-size: 40px;
}

.hero-description {
    width: 30%;
    float: left;
}

.hero-image {
    width: 70%;
    float: right;
}

.hero-image img {
    width: 100%;
    margin-bottom: -70px;

}

.hero-arrow {
    font-size: 30px;
    cursor: pointer;
}

.hero-arrow a {
    color: black;
}

/* Business Section */

.business-container {
    width: 100%;
}

.business-content {
    width: 70%;
    margin: auto;
}

/* Cards Styling */

.card-separator {
    width: 25%;
}

.card-checklist ul li:before {
    content: '\f00c';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    color: #0161FF;
    margin-right: 3px;
}

.card-list ul li:first-child::before {
    content: '\f007';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-right: 3px;
}

.card-list ul li:nth-child(2)::before {
    content: '\f07b';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-right: 3px;
    
}

.card-list ul li:last-child::before {
    content: '\f303';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-right: 3px;
}

/* Enterprise Box */

.enterprise-general-container {
    width: 70%;
    margin: auto;
}

.enterprise-box {
    width: 100%;
    border: 1px solid #D0D0D3;
}

.enterprise-txt {
    width: 70%;
    float: left;
}

.enteprise-button-container {
    width: 30%;
    float: right;
    
}

.enteprise-button-container .blue-button {
    width: 25%;
}

/* Partner Section */

.partnerdropbox-general-container {
    width: 100%;
    
}

.partnerdropbox-box-container {
    width: 70%;
    margin: auto;
}

.partner-image {
    width: 50%;
    float: left;
}

.partner-image img { 
    width: 100%;

}

.partner-text {
    width: 50%;
    float: left;
    
}

.partner-button {
    float: left;
}

.partner-button button {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

/* More Operations Sections */

.more-op-generalcontainer {
    width: 100%;
}

.more-op-boxcontainer {
    width: 70%;
    margin: auto;
}

.more-op-cards-container {
    width: 100%;
}

.more-op-card {
    float: left;

}

.more-op-card-img img {
    width: 100%;
}

/* 500.000 Teams Section */

.team-general-container {
    width: 100%;
}

.team-container {
    width: 70%;
    margin: auto;
}

.team-title {
    width: 50%;
}

/* Partner Logos Section */

.partner-general-container {
    width: 100%
}

.partner-box-container {
    width: 100%;
}

.left-box-cards {
    width: 25%;
    float: left;
}

.central-partner-box {
    width: 50%;
    
}

.right-box-cards {
    width: 25%;
    float: left;
}

.first-partner-cards {
    width: 100%;

}

/* Left Logos */

.designit-box {
    background-color: #A2D39B;
    width: 50%;
    
    
}

.asu-box {
    background-color: #61082B;
    width: 50%;
    
}

.uf-box {
    background-color: #0093CE;
    width: 50%;
    
}

.topps-box {
    background-color: #FF1C1C;
    width: 50%;
    
}

/* Central Content Partner Box */

.central-partner-box {
    width: 50%;
    background-color: #F5F5F5;
    float: left;
    height: 300px;

}

.central-partner-box-logo img {
    width: 20%;
}

/* Right Logos */

.wbr-box {
    background-color: #D5001F;
    width: 50%;
}

.hearst-box {
    background-color: #B4D0E7;
    width: 50%;
}

.lonely-planet-box {
    background-color: #0D2481;
    width: 50%;

}

.clear-channel-box {
    background-color: #FFD830;
    width: 50%;
}

/* Dropbox CTA Section */

.dropbox-cta-general-container {
    width: 100%;
}

.dropbox-cta-box-container {
    width: 100%;
    background-color: #B4D0E7;
    padding-top: 150px;
    padding-bottom: 150px;
}

.dropbox-cta-content {
    width: 70%;
    margin: auto;
}

.dropbox-cta-title {
    width: 50%;
    float: left;
}
.dropbox-cta-title h3 {
    color: #61082B;
}

.dropbox-cta-button {
    width: 50%;
    float: right;
    text-align: right;
}

.dropbox-cta-button button {
    background-color: white;
    border: none;
    padding: 5px 25px;
    cursor: pointer;
}

/* FAQ Section */

.faq-general-container {
    width: 100%;
}

.faq-box-container {
    width: 70%;
    margin: auto;
    
}

.faq-question-title {
    width: 90%;
    float: left;
}

.faq-icon {
    width: 10%;
    float: right;
    cursor: pointer;
}

.faq-separator {
    float: none;
    
}

.faq-separator hr {
    width: 100%;
    
}

/* Footer */

footer {
    width: 100%;
    background-color: black;
}

.footer-container {
    width: 80%;
    margin: auto;
}

.footer-cards {
    width: 20%;
    float: left;
}

.footer-links nav ul li {
    list-style: none;
    line-height: 30px;
}

/* Secondary Footer Content */

.secondary-footer {
    width: 100;

}

.secondary-footer-content {
    width: 80%;
    margin: auto;
}

.secondary-footer-separator hr {
    width: 10%;
}

.footer-language {
    color: #666666;
}

.footer-language-icon {
    color: #666666;
}
.footer-language-iconup {
    vertical-align: middle;
    color: #666666;
}
































